.quote-select {
	grid-column: full-start / full-end;
	@include grid;
	height: 70rem;
	position: relative;

	&__background {
		width: 100%;
		height: 100%;
		grid-column: col-start 4 / full-end;
		position: absolute;
		z-index: -1;
		overflow: hidden;

		&::after {
			position: absolute;
			content: "";
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				0deg,
				rgba($color-black, 0.4) 10%,
				rgba($color-white, 0) 100%
			);
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		transition: opacity 0.3s ease;

		&--hide {
			opacity: 0;
		}
	}

	&__title {
		width: 50%;
		font-size: 5rem;

		position: absolute;
		bottom: -1%;
		left: -0.5%;

		z-index: 1;

		color: rgba($color-white, 0.2);
	}

	&__grid {
		grid-column: col-start 1 / col-end 10;

		display: grid;
		grid-template-columns: 1fr 0.5fr;

		column-gap: 3rem;

		align-items: flex-start;
	}

	&__display {
		height: 40rem;
		padding: 4rem 6rem;
		background-color: rgba($color-white, 0.6);
		backdrop-filter: blur(2rem);

		transform: translateY(25%);

		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 2rem;

		border: solid 0.5px rgba($color-grey-dark, 1);
		box-shadow: 0rem 0.5rem 2rem rgba($color-black, 0.1);
	}

	&__content {
		transition: all 0.4s ease;
		text-align: center;

		display: flex;
		flex-direction: column;
		align-items: center;

		position: relative;
	}

	&__pick {
		transform: translateY(18%);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__author {
		cursor: pointer;
		word-break: break-all;
		padding: 0.5rem 1.5rem;
		color: rgba($color-grey-dark, 0.4);

		&--selected {
			color: $color-black;
			background-color: rgba($color-white, 0.7);
			transition: all 0.4s ease;
		}
	}

	&__quote {
		z-index: 1;
	}

	&--hide {
		opacity: 0;
	}
}
