<nav class="nav">
    <a class="nav__logo nav__link nav-text" href="/">QuotesPlease</a>
    
    <ol class="nav__list">
        <li class="nav__item"><a class="nav__link nav-text" href="/index">Cards</a></li>
        <li class="nav__item"><a class="nav__link nav-text" href="">Explore</a></li>
        <li class="nav__item"><a class="nav__link nav-text" href="">Login</a></li>
    </ol>
</nav>