:root {
    --main-color: #fff1e6;
}

body {
    font-family: "Lora";
    color: #474747;
}

.landing-wrapper {
    background-image: url("https://images.unsplash.com/photo-1595405895473-1adb3f68501a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80");
    background-size:cover;
    height: 100vh;
}

.landing-wrapper__overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.landing__quote {
    width: 70%;

    color:white;
    font-size: 2.2em;
    line-height: 2.2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);

    animation: appear 0.5s ease-out;
    opacity: 1;    
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

.quotes-wrapper {
    font-size: 1.3rem;
}

.title {
    text-align: center;
    font-size: 35px;

    padding-top: 50px;
    padding-bottom: 70px;
}

.break {
    width: 20%;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid rgb(189, 189, 189);
    opacity: 0.2;
}

.break-is-focus {
    border-color: #ffe7d4;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.quote {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;    
    width: 45%;
    margin: auto;
    padding: 30px 60px;
    padding-top: 40px;


    transition: all 0.7s ease-out;
    font-size: 17px;
}

.quote:hover {
    box-shadow: 0 3px 8px rgba(44, 44, 44, 0.35);
    background-color: var(--main-color);
    cursor: pointer;
}

.quote__singleQuotation {
    font-size: 1.5em;
}

.quote__short {
    max-height: 0;
    overflow: hidden;
    line-height: 3.0em;
}

.quote__full {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
    line-height: 3.0em;
}

.quote__source {
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.2em;

    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.quote__pagelink {
    text-decoration: underline;
    color: inherit;
}

.quote__pagelink:hover {
    color:#cddafd;
    cursor: pointer;
}

.is-hidden {
    display: none;
}

.is-expanded {
    max-height: 2000px;
    transition: max-height 3s ease-out;
}

.is-focus {
    box-shadow: 0 3px 8px rgba(44, 44, 44, 0.35);
    background-color: var(--main-color);
    
}

@media (max-width: 1000px) {
    .quote {
        width: 70%;
        font-size: 14px;
        padding: 20px 30px;
    }

    .landing-wrapper {
        font-size: 10px;
    }
}