:root {
    --main-color: #ffe7d4;
}

body {
    font-family: "Lora";
    color: #474747;
}

.landing-wrapper {
    height: 100vh;
    background-color: black;
}

.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.landing__quote {
    width: 70%;
    color: white;
    font-size: 2.2em;
    line-height: 2.2em;
    animation: appear 0.5s ease-out;
    opacity: 1;    
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

.quotes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotes-wrapper div:nth-of-type(4n-1) {
    flex-direction: row-reverse;
}

.title {
    text-align: center;
    font-size: 35px;

    padding-top: 50px;
    padding-bottom: 70px;
}

.break {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 7px;
    height: 7px;
    background-color: var(--main-color);
    border-radius: 100%;
}

.quote-container {
    width: 75vw;
    font-size: 15px;
    display: flex;
    flex-direction: row;
}

.quote-line {
    height: 1px;
    width: 10%;
    background-color: var(--main-color);
    margin: auto;
}

.quote-image {
    object-fit: cover;
    width: 40%;
    min-height: 400px;
    transition: box-shadow 0.7s ease-out;
}

.quote {
    width: 50%;
    margin: auto;
    padding: 30px 50px;
    padding-top: 40px;
    border: solid 1px var(--main-color);
    transition: all 0.7s ease-out;
}

.quote:hover {
    box-shadow: 0 3px 8px rgba(44, 44, 44, 0.35);
    background-color: var(--main-color);
    cursor: pointer;
}

.quote__singleQuotation {
    font-size: 1.5em;
}

.quote__short {
    max-height: 0;
    overflow: hidden;
    line-height: 3.0em;
}

.quote__full {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-out;
    line-height: 3.0em;
}

.quote__source {
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.2em;

    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.quote__pagelink {
    text-decoration: underline;
    color: inherit;
}

.quote__pagelink:hover {
    color:#cddafd;
    cursor: pointer;
}

.is-hidden {
    display: none;
}

.is-expanded {
    max-height: 2000px;
    transition: max-height 3s ease-out;
}

.is-focus {
    box-shadow: 0 3px 8px rgba(44, 44, 44, 0.35);
    background-color: var(--main-color);
}

@media (max-width: 1000px) {
    .quotes-wrapper div:nth-of-type(4n-1) {
        flex-direction: column-reverse;
    }

    .quote-container {
        width: 75vw;
        flex-direction: column-reverse;
    }

    .quote {
        width: initial;
        font-size: 13px;
        padding: 20px 30px;
    }

    .quote-line {
        width: 1px;
        height: 20px;
    }
 
    .quote-image {
        width: 100%;
        min-height: 0px;
    }

    .break {
        height: 5px;
        width: 5px;
    }

    .landing-wrapper {
        font-size: 10px;
    }

}