body {
    font-family: "Open Sans", sans-serif;
    color: #484848;
}

.title {
    margin-top: 5rem;
    font-family: "Fanwood Text";
    text-align: center;
    font-size: 35px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    font-size: 1.3rem;
}


.quote-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    font-family: "Fanwood Text";
    
    width: 40%;
    margin: auto;
    padding: 30px 60px;
    transition: box-shadow 0.4s ease-out ;

}

.quote-container:hover {
    box-shadow: 0 3px 8px rgba(44, 44, 44, 0.35);
    transition: box-shadow 0.4s ease-out;
    cursor: pointer;
}

.startDoubleQuote {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.quote {
    font-size: 1.0em;
    line-height: 2.5em;
    /* font-style: italic; */
}

.quoteAuthor {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 0.6em;

    text-transform: uppercase;

    letter-spacing: 0.2em;
    margin-top: 20px;
}

hr {
    width: 10%;
    margin: 100px auto;
}

.quoteTitle {
    opacity: 1;
    transition: opacity 0.8s ease-out;
}

.quoteTitleHide {
    display: none;
}

.quoteTitleVisuallyHidden {
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

@media (max-width: 1000px) {
    .quote-container {
        width: 70%;
        font-size: 1.15rem;
    }
    
}