.vertical-line-break {
    grid-column: col-start 5 / col-end 6;
    width: 1px;
    height: 10rem;
    background-color: $color-grey-dark;
    margin-left: 50%;

}

.horizontal-line-break {
    grid-column: col-start 5 / col-end 6;
    width: 20rem;
    height: 1px;
    background-color: $color-grey-dark;
    margin: 0 auto;
}

.full-page {
    grid-column: full-start / full-end;
    height: 100vh;
}