.btn {
	&:link,
	&:visited {
		align-self: center;
		font-family: $font-display;
		text-decoration: none;
		color: $color-black;
		font-weight: 400;
		font-size: 1.3rem;
		padding: 1rem 2rem;
		border: solid 1px $color-black;
		transition: all ease 0.2s;
		display: inline-block;
	}

	&:hover {
		background-color: $color-black;
		color: white;
	}
}
