$quote-box-side: 25rem;

.quote-card {
    display: grid;
    max-width: $quote-box-side;
    grid-template-columns: minmax($quote-box-side, 1fr) min-content;
    grid-template-rows: minmax(min-content, $quote-box-side) min-content;
    grid-template-areas:    "image book"
                            "quote quote";
    row-gap: 1.5rem;

    &__book {
        grid-area: book;
        align-self: flex-end;
        width: 7rem;

        transform: translateX(-35%);
        transition: .4s ease;
        opacity: .5;
        transition-property: transform, opacity;

        position: relative;
        z-index: 2;
    }

    &__book-heading {
        width: $quote-box-side;
        height: 3rem;
        text-transform: uppercase;

        word-wrap: break-word;
        overflow: hidden;

        color: $color-grey-light;

        transform-origin: 0 100%;
        transform: rotate(-90deg) translateY(100%);
    
        transition: .2s ease;
        transition-property: height, z-index;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        filter: brightness(.6);

        transition: .7s ease;
        transition-property: transform, filter;
    }

    &__image-container {
        grid-area: image;
        overflow: hidden;
        position: relative;
        max-height: $quote-box-side;
        z-index: 1;
        box-shadow: 0rem 1rem 2rem rgba($color-black, .1);
        cursor: pointer;

        transition: .5s ease;
        transition-property: box-shadow, transform, filter;
        
        &:hover {
            box-shadow: 0rem 1rem 2rem rgba($color-black, .3);
            transform: scale(1.05);
        }

        &:hover .quote-card__image {
            transform: scale(1.07);
            filter: brightness(1);
        }

        &:hover ~ .quote-card__quoteText {
            transform: translateY(0%) translateX($quote-box-side * -.05 * .5);
            opacity: 1;
        }

        &:hover ~ .quote-card__book {
            transform: translateX(8%) translateY($quote-box-side * .05 * .5);
            opacity: 1;
            z-index: 0;
            opacity: 1;
        }

        &:hover ~ .quote-card__book .quote-card__book-heading {
            height: 100%;
        }
    }

    &__quoteText {
        grid-area: quote;
        opacity: 0;
        transform: translateY(-50%);
        transition: .4s ease;
        width: 95%;
        transition-property: transform, opacity;
    }

    &__paragraph {
        margin-top: -.3rem;
    }

    &__bold {
        font-size: 2rem;
        font-weight: 700;
    }
}