.quote-container {
    width: 75vw;
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
}

.quote {
    width: 50%;
    margin: auto;
    padding: 3rem 5rem;
    padding-top: 4rem;
    border: solid 1px var(--main-color);
    transition: .7s ease-out;
    transition-property: box-shadow, background-color;

    &:hover {
        box-shadow: 0 3px 8px rgba(44, 44, 44, 0.35);
        background-color: var(--main-color);
        cursor: pointer;
    }

    &__line {
        height: 1px;
        width: 10%;
        background-color: var(--main-color);
        margin: auto;
    }

    &__image {
        object-fit: cover;
        width: 40%;
        min-height: 40rem;
        transition: box-shadow .7s ease-out;
    }

    &__singleQuotation {
        font-size: 2.4rem;
    }

    &__text {
        overflow: hidden;
        line-height: 3.0em;
        transition: max-height .6s ease-in-out;
    }

    &__info {
        font-family: "Open Sans";
        font-weight: bold;
        text-transform: uppercase;
        font-size: .7em;
        letter-spacing: .2em;
        line-height: 1.8em;
    
        margin-top: 2rem;
    }

    &__pagelink {
        text-decoration: underline;
        color: inherit;
        margin-left: 5rem;

        &:hover {
            color:#cddafd;
            cursor: pointer;
        }
    }

}

.break {
    margin-top: 15rem;
    margin-bottom: 15rem;
    width: .7rem;
    height: .7rem;
    background-color: var(--main-color);
    border-radius: 100%;
}