*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;

}

.container {
    display: grid;
    grid-template-columns: [full-start] minmax(10rem, 1fr) [center-start] 
                            repeat(10, [col-start] minmax(min-content, 10rem) [col-end]) 
                            [center-end] minmax(10rem, 1fr) [full-end];
    overflow: hidden;
    position: relative;
}