<% layout("layouts/boilerplate") -%>

<section class="quote-index-container">
    <%  quotes.forEach((quote, index) => { %>
        <%- include("../templates/quote", { quote })%>
    <%  }) %>
</section>

<script>
    const pagination = <%- JSON.stringify(pagination) %>;
</script>

<script src="https://github.com/mde/ejs/releases/download/v3.1.6/ejs.min.js"></script>
<script src="javascripts/infiniteScroll.js"></script>